<ul xpsui-menu-items>
	<li><a href="#" class="x-submenu-toggle"><i class="fa fa-group fa-2x"></i><span>{{'menu.person.title' | translate}}</span></a>
		<ul>
			<li><a href="#/registry/new/{{'uri://registries/person'|xpsuiuriescape}}"><span>{{'menu.new.person.lower.level' | translate}}</span></a></li>
			<li><a href="#/search/{{'uri://registries/person'|xpsuiuriescape}}"><span>{{'menu.search.person.lower.level' | translate}}</span></a></li>
			<li><a href="#/search/{{'uri://registries/player'|xpsuiuriescape}}"><span>{{'menu.search.player.lower.level' | translate}}</span></a></li>
			<li><a href="#/search/{{'uri://registries/referee'|xpsuiuriescape}}"><span>{{'menu.search.referee.lower.level' | translate}}</span></a></li>
			<li><a href="#/search/{{'uri://registries/coach'|xpsuiuriescape}}"><span>{{'menu.search.coach.lower.level' | translate}}</span></a></li>
			<li><a href="#/search/{{'uri://registries/statistic'|xpsuiuriescape}}"><span>Hľadať štatistu</span></a></li>
			<li><a href="#/search/{{'uri://registries/medic'|xpsuiuriescape}}"><span>Hľadať zdravotníka</span></a></li>
		</ul>
	</li>

	<li><a href="#" class="x-submenu-toggle"><i class="fa fa-group fa-2x"></i><span>{{'menu.stadium.title' | translate}}</span></a>
		<ul>
			<li><a href="#/registry/new/{{'uri://registries/stadium'|xpsuiuriescape}}"><span>{{'menu.new.lower.level' | translate}}</span></a></li>
			<li><a href="#/search/{{'uri://registries/stadium'|xpsuiuriescape}}"><span>{{'menu.search.lower.level' | translate}}</span></a></li>
		</ul>
	</li>
	<li><a href="#" class="x-submenu-toggle"><i class="fa fa-group fa-2x"></i><span>{{'menu.club.title' | translate}}</span></a>
		<ul>
			<li><a href="#/registry/new/{{'uri://registries/club'|xpsuiuriescape}}"><span>{{'menu.new.lower.level' | translate}}</span></a></li>
			<li><a href="#/search/{{'uri://registries/club'|xpsuiuriescape}}"><span>{{'menu.search.lower.level' | translate}}</span></a></li>
		</ul>
	</li>
	<li><a href="#" class="x-submenu-toggle"><i class="fa fa-group fa-2x"></i><span>Zväz</span></a>
		<ul>
			<li><a href="#/registry/new/{{'uri://registries/association'|xpsuiuriescape}}"><span>{{'menu.new.lower.level' | translate}}</span></a></li>
			<li><a href="#/search/{{'uri://registries/association'|xpsuiuriescape}}"><span>{{'menu.search.lower.level' | translate}}</span></a></li>
		</ul>
	</li>
	<li><a href="#" class="x-submenu-toggle"><i class="fa fa-group fa-2x"></i><span>Zmena kl. príslušnosti</span></a>
		<ul>
			<li><a href="#/registry/new/{{'uri://registries/transfer'|xpsuiuriescape}}"><span>{{'menu.new.lower.level' | translate}}</span></a></li>
			<li><a href="#/search/{{'uri://registries/transfer'|xpsuiuriescape}}"><span>{{'menu.search.lower.level' | translate}}</span></a></li>
		</ul>
	</li>
	<li><a href="#" class="x-submenu-toggle"><i class="fa fa-group fa-2x"></i><span>Súpisky</span></a>
		<ul>
			<li><a href="#/registry/new/{{'uri://registries/roster'|xpsuiuriescape}}"><span>Nová súpiska</span></a></li>
			<li><a href="#/search/{{'uri://registries/roster'|xpsuiuriescape}}"><span>Hľadať súpisku</span></a></li>
		</ul>
	</li>
	<li><a href="#" class="x-submenu-toggle"><i class="fa fa-group fa-2x"></i><span>Veková kategória</span></a>
		<ul>
			<li><a href="#/registry/new/{{'uri://registries/ageCategory'|xpsuiuriescape}}"><span>Nová veková kategoria</span></a></li>
			<li><a href="#/search/{{'uri://registries/ageCategory'|xpsuiuriescape}}"><span>Hľadať vekovú kategória</span></a></li>
		</ul>
	</li>
	<li><a href="#" class="x-submenu-toggle"><i class="fa fa-group fa-2x"></i><span>Súťažný ročník</span></a>
		<ul>
			<li><a href="#/registry/new/{{'uri://registries/season'|xpsuiuriescape}}"><span>Nový</span></a></li>
			<li><a href="#/search/{{'uri://registries/season'|xpsuiuriescape}}"><span>Hľadať</span></a></li>
		</ul>
	</li>
	<li><a href="#" class="x-submenu-toggle"><i class="fa fa-group fa-2x"></i><span>Súťaž</span></a>
		<ul>
			<li><a href="#/registry/new/{{'uri://registries/competition'|xpsuiuriescape}}"><span>Nová</span></a></li>
			<li><a href="#/search/{{'uri://registries/competition'|xpsuiuriescape}}"><span>Hľadať</span></a></li>
		</ul>
	</li>
	<li><a href="#" class="x-submenu-toggle"><i class="fa fa-group fa-2x"></i><span>{{'menu.my.profile.title' | translate}}</span></a>
		<ul>
			<li><a href="#/personal-page"><span>{{'menu.profile.lower.level' | translate}}</span></a></li>
			<li><a href="#/personal-change-password"><span>{{'menu.change.password.lower.level' | translate}}</span></a></li>
		</ul>
	</li>
	<li><a href="#" class="x-submenu-toggle"><i class="fa fa-group fa-2x"></i><span>{{'menu.permissions.title' | translate}}</span></a>
		<ul>
			<li><a href="#/registry/new/{{'uri://registries/security#groupmaster'|xpsuiuriescape}}" class="active"><span>{{'menu.new.group.lower.level' | translate}}</span></a></li>
			<li><a href="#/security/group/edit/"><span>{{'menu.permission.groups.lower.level' | translate}}</span></a></li>
			<li><a href="#/security/user/edit"><span>{{'menu.user.permissions.lower.level' | translate}}</span></a></li>
			<li><a href="#/registry/new/{{'uri://registries/security#profilesmaster'|xpsuiuriescape}}"><span>{{'menu.new.profile.lower.level' | translate}}</span></a></li>
			<li><a href="#/security/profile/edit"><span>{{'menu.profiles.lower.level' | translate}}</span></a></li>
		</ul>
	</li>

	<li><a href="#" class="x-submenu-toggle"><i class="fa fa-group fa-2x"></i><span>{{'menu.statistics.title' | translate}}</span></a>
		<ul>
			<li><a href="#/statistics"><span>{{'menu.statistics.show.title' | translate}}</span></a></li>
		</ul>
	</li>
	<li><a href="#" class="x-submenu-toggle"><i class="fa fa-group fa-2x"></i><span>{{'menu.schemas.title' | translate}}</span></a>
		<ul>
			<li><a href="#/schema/edit"><span>{{'menu.schema.list.lower.level' | translate}}</span></a></li>
		</ul>
	</li>
</ul>
